* {
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  /* place-content: center; */
  height: 100vh;
}

.box {
  background-color: #f54040;
  /* display: grid;
  place-content: center; */
  display: flex;
  place-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  /* line-height: 100px;
  text-align: center; */
}

section {
  display: grid;
  gap: 1px;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: row; 
  grid-auto-rows: 100px;
  /* grid-auto-flow: column;
  grid-auto-columns: 100px; */
}

.box:first-child {
  background-color: #4d7321;
  grid-column-start: 1;
  grid-column-end: 3;
}

.box:nth-child(2) {
  background-color: #286ddc;
  grid-column-start: 3;
  /* grid-column-end: 4; */
  grid-row-start: 1 ;
  grid-row-end: 3;
}

.box:nth-child(4) {
  background-color: #5f5e0e;
  grid-column-start: 2;
  /* grid-column-end: 3; */
  grid-row-start: 2;
  grid-row-end: 4;
  padding: 20px;
}

.box:nth-child(8) {
  background-color: #000;
  grid-row: 4 / 6;
  grid-column: 2 / 4;
}

.box:nth-child(5) {
  background-color: #e919b9;
  grid-row: span 2;
}

.box:last-child {
  background-color: #4b7375;
  grid-column: span 3;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}